*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style: none;

}
:root{
    --bg-color: #2B292E;
    --text-color: #AFAFAF;
    --main-color: #8E9FFF;
}
html {
    scroll-behavior: smooth;
}
nav {
    display: flex;
    color: var(--text-color);
}
.header{
    z-index: 1;
    display: flex;
    position: fixed;
    background: var(--bg-color);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1% 8%;
    transition: all .50s ease;
}
.content {
    display: flex;
}
.content a{
    text-decoration:none;
    margin: 0px 40px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.content a:hover{
    color: var(--main-color);
}
.main{
    display: flex;
}
.main a{
    text-decoration:none;
    margin-right: 20px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1;
    display: none;
}


