*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}
:root{
    /* --bg-color: #2B292E; */
    --bg-color: #0B0B0B;
    --text-color: #fff;
    --main-color: #8E9FFF;
}

body {
    /* display: flex; */
    background: var(--bg-color);
    background-size: cover;
    height: 100vh;
    color: var(--text-color);
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
}
.wrapper {
    width: 100%;
    padding: 0% 8%;
    margin: auto;
    position: relative;
}
section{
    margin: 8% 0%;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 2%;
}
nav {
    display: flex;
    color: var(--text-color);
}
nav .header{
    z-index: 1;
    display: flex;
    position: fixed;
    background: var(--bg-color);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1% 8%;
    transition: all .50s ease;
}

.header .menu {
    display: flex;
    margin-top: 10px;
}
.menu li a{
    text-decoration:none;
    margin: 0px 40px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.menu li a:hover{
    color: var(--main-color);
}
.menu a{
    text-decoration:none;
    margin: 0px 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.wrapper .hero{
    padding: 4% 8%;
    display: flex;
    /* margin: auto; */
    position: relative;
    background: linear-gradient(to right, #43CBFF, #9708CC);
    justify-content: left;
    align-items: flex-start;
    align-content: center;
    height: 80%;
    width: 100%;
    text-align: center;
    border-radius: 40px;
    background-size: cover;
}
.hero .hero-content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.hero-content .container .btn {
    position: relative;
    margin-top: 4%;
    text-decoration: none;
    color: var(--text-color);
    transition: all .50s ease;
    cursor: pointer;
}
.hero-content .container .btn a {
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-content .container .text-1{
    font-size: 60px;
    font-weight: 600;
    color: var(--text-color);
    inline-size: 400px;
    overflow-wrap: break-word;
    text-align: left;
}

.hero-content .container .text-2 {
    margin-top: 2%;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    text-align: left;
    white-space: nowrap;
}

.hero-content .img-hero{
    position: relative;
    right: 0;
    top: 0;
    width: 120%;
    height: 120%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrival-content .container .grid-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;
    margin-top: 4%;
}

.grid-container .grid-content {
    position: relative;
    margin: auto;
}

.grid-content .card {
    background: var(--bg-color);
    /* cursor: pointer; */
}

.card .card-text1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 4% 0%;
}

.card .card-text2 {
    font-size: 1rem;
    font-weight: 500;
}
.card .card-text2::after {
    content: '\f061';
    font-size: 1.4rem;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left:60%;
}

.favorit-content .card .card-text2::after {
    content: '\f061';
    font-size: 1.6rem;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 70%;
}

.banner {
    display: flex;
    margin: auto;
    padding: 0% 8%;
    position: relative;
    background: linear-gradient(to right, #CE9FFC, #7367F0);
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: flex-end;
}

.banner .banner-content {
    /* justify-content: space-around; */
    /* position: relative; */
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    /* margin: auto; */

    /* position: relative; */
    /* text-align: right; */
    /* align-content: space-between; */

    /* margin: auto; */
    align-items: center;
}

.banner-content .img-banner {
    display: flex;
    position: relative;
    right: 0;
    top: 0;
    width:100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content .container {
    padding-left: 20%;
    padding-bottom: 100px;
}

.banner-content .container .text-1{
    font-size: 70px;
    font-weight: 800;
    color: var(--text-color);
    width: 480px;
    text-align: left;
}
.banner-content .container .text-1 .title1{
    font-size: 70px;
    font-weight: 800;
    color: var(--text-color);
    width: 480px;
    text-align: left;
}

.banner-content .container .text-2{
    font-size: 18px;
    font-weight: 600;
    margin-top: 2%;
    width: 320px;
    color: var(--text-color);
    /* inline-size: 320px; */
    /* overflow-wrap: break-word; */
    text-align: left;
}
.banner-content .container .wrap-text{
    margin-top: 2%;
    font-size: 16px;
    width: 320px;
    /* font-weight: 600; */
    color: var(--text-color);
    /* inline-size: 320px; */
    /* overflow-wrap: break-word; */
    text-align: left;
}

.banner-content .container .wrap-text .text-3{
    font-weight: 600;
}

.banner-content .container .btn {
    position: relative;
    margin-top: 4%;
    text-decoration: none;
    color: var(--text-color);
    transition: all .50s ease;
    cursor: pointer;
}
.banner-content .container .btn a {
    text-decoration: none;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 540;
}

.favorit-content .container .grid-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    margin-top: 4%;
}

.favorit-content .container .grid-container .img-favorit {

}





/* body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
} */
/* .container{
	max-width: 1170px;
	margin:auto;
} */
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-image: linear-gradient(#CE9FFC,#7367F0);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-image: linear-gradient(#43CBFF,#9708CC);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
